@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}
@theme{
  --color-primary:#165831;
  --color-secondary:#949293;

}

.container{
  @apply max-w-[1459px] mx-auto px-4
}

